* {
  padding: 0;
  margin: 0;
}
.appDiv {
  height: 100vh;
  width: 100vw;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen {
  width: 22%;
  height: 90%;
  background-color: black;
  color: aliceblue;
  position: relative;
  border-radius: 30px;
  padding-top: 25px;
  border: 1px solid white;
}
.menuBar {
  position: absolute;
  height: 60px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
  background-color: black;
  width: 100%;
  padding: 2px 35px 2px 35px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top: 1px solid gray;
}

.menuItems {
  height: 100%;
  text-align: center;

  font-size: 10px;
}
.menuItems button{
 background-color: black;
}
.headerBar {
  position: absolute;
  height: 60px;
  top: 0px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: black;
  width: 100%;
  padding: 20px 20px 0px 20px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom: 3px solid wheat;
}
.Pages {
  position: absolute;
  top: 60px;
  /* padding: 30px; */

  height: 77.7%;
  width: 100%;
  /* background-color: bisque; */
}

.callingPage {
  padding: 30px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.callingButtons {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 200px;

}

.callingButtonArea {
  position: absolute;
  bottom: 5px;
  width: 90%;
  text-align: center;
}



.homePageDiv {
  height: 40%;
  position: relative;
  width: 100%;
  /* background-color: brown; */
}
.homePageDiv2 {
  height: 60%;
  width: 100%;
  background-color: #212529;
  padding: 20px 50px;
}

.dialPad {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 95%;
  font-weight: bolder;
}

.dialScreen {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  justify-content: end;
  display: flex;
  align-items: center;
}
.dialScreen button{
  height: 100%;
  border-bottom: 2px solid;
}
.dialScreen input {
  width: 100%;
  padding: 0px 30px;
  height: 100%;
  color: wheat;
  text-align: end;
  background-color: #212529;
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


.logs{
  width: 100%;
  height: 50px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  border-bottom: 1px solid snow;
  padding: 15px;
}

.contactForm{
  height: 100%;
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center ;
  align-items: center;
}

.contactForm form{
  width: 100%;
  height: 50%;
  /* background-color: black; */
  padding: 30px;
}

.contactForm input{
  height: 30px;
}

.contactItems{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid grey;
  /* background-color:pink; */
  margin: auto;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}